
<div class="container">
  <div class="row">
    
    <div class="col-md-6">
      <h2 class="bg-primary mt-2 p-2">
        Todo list Task Form
      </h2>
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
      <h2 class="bg-primary mt-2 p-2">
        Todo list Task list
      </h2>
      <app-todo-list></app-todo-list>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-4">
      <h2 class="bg-danger mt-2 p-2">
        Student list Task  Form
      </h2>
      <app-student-form></app-student-form>
    </div>
    <div class="col-md-8">
      <h2 class="bg-danger mt-2 p-2">
        student list Task list
      </h2>
      <app-student-list></app-student-list>
    </div>
  </div>
</div>